<footer class="page-footer indigo">
  <div class="container">
    <div class="row">
        <h6 class="white-text center bold">Company</h6>
        <ul class="center">
          <li><a class="grey-text text-lighten-3" href="#!">API</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Our Stack</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
        </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright DevHub
    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>
