<h2>Github Login</h2>
<div>
   <% if (currentUser != undefined){ %>
    <h2>Data from Github</h2>
    <pre>
      <%= currentUser %>
    </pre>
    <a href="/logout">Logout</a>
   <% } else { %>
    <a href="/login">Login to edit your Profile</a>
   <% } %>
 </div>
