<div class="container">
<br>
<br>
    <div class="row">
        <div class="center-align">
            <h2><b>DevHub </b>is the professional networking site for developers
            <br>
            </h2>
        </div>
    </div>

    <div class="row center-align">
            <a id="home-button" class="btn-large teal accent-4 valign" href="/login">Login</a>
    </div>

    <br>
    <div class="divider"></div>
    <div class="divider"></div>
    <br>


    <div class="row">
        <div class="col s12 m6 l6">
            <h4>Search Github Users</h4>
            <h5>Get their most used languages, total repo stars and more stats.</h5>
        </div>
        <div class="col s12 m6 l6">
            <img src="img/profile.png" height=200px width=400px/>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            <h4>Edit your profile</h4>
            <h5>Add work experience, education, best projects</h5>
        </div>
        <div class="col s12 m6 l6">
            <img src="img/edit.png" height=200px width=400px/>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            <h4>View Companies and their stacks</h4>
            <h5>Get matched by your most used languages. Get linked to jobs</h5>
        </div>
        <div class="col s12 m6 l6">
            <img src="img/companies.png" height=200px width=400px/>
        </div>

    </div>

    <br>
    <div class="divider"></div>
    <div class="divider"></div>

    <h4 class="center-align">Built with pride by team HOOP:</h4>
    <br>
    <div class="row">
        <div class="col s6 m3 l3 center-align ">
            <a href="/users/Chelimin">
                <img class="circle responsive-img img-center hoverable" src="img/cat.png">
            </a>
            <h4>Catherine He</h4>
            <h5><a href="/users/Chelimin">View Profile</a></h5>
        </div>
        <div class="col s6 m3 l3 center-align ">
        <a href="/users/ozy8">
            <img class="circle responsive-img img-center hoverable" src="img/ozy.png">
        </a>
            <h4>Ow Zhiyin</h4>
            <h5><a href="/users/ozy8">View Profile</a></h5>
        </div>
        <div class="col s6 m3 l3 center-align ">
            <a href="/users/gabrielleong">
                <img class="circle responsive-img img-center hoverable" src="img/Gabrielle.png">
            </a>
            <h4>Gabrielle Ong</h4>
            <h5><a href="/users/gabrielleong">View Profile</a></h5>
        </div>
        <div class="col s6 m3 l3 center-align ">
            <a href="/users/giftofjehovah">
                <img class="circle responsive-img img-center hoverable" src="img/jon.png">
            </a>
            <h4>Jonathan Phoon</h4>
            <h5><a href="/users/giftofjehovah">View Profile</a></h5>
        </div>
    </div>
</div>
