<div>
    <div class="hide-on-med-and-up"><h1>Small</h1></div>
    <div class="hide-on-small-only hide-on-large-only"><h1>Medium</h1></div>
    <div class="hide-on-med-and-down"><h1>Large</h1></div>
</div>  

<div id="home-card" class="row">
    <div class="col s6 m12 l8 offset-l2">
        <h2 class="center-align"><b>DevHub</b> is the professional network for developers</h2>
    </div>
</div>

<div class="row">
    <div class="col s10 offset-s2 m3 offset-m3 l4 offset-l4">
        <a class="waves-effect waves-light btn valign" href="/login"><i class="devicon-github-plain">  </i>Login with Github</a>
    </div>
</div>
    
   <div class="divider"></div>
    <h4 class="center-align">Built with pride by team HOOP:</h4>
    <div class="row">
        <div class="col s6 m3 l3 center-align ">
            <img class="circle responsive-img img-center hoverable" src="img/Gabrielle.png" alt="">
            <h4>Catherine He</h4>
            <h6><a href="#">View DevHub Profile</a></h6>
        </div>
        <div class="col s6 m3 l3 center-align ">
            <img class="circle responsive-img img-center hoverable" src="img/Gabrielle.png" alt="">
            <h4>Ow Zhiyin</h4>
            <h6><a href="#">View DevHub Profile</a></h6>
        </div>
        <div class="col s6 m3 l3 center-align ">
            <img class="circle responsive-img img-center hoverable" src="img/Gabrielle.png" alt="">
            <h4>Gabrielle Ong</h4>
            <h6><a href="#">View DevHub Profile</a></h6>
        </div>
        <div class="col s6 m3 l3 center-align ">
            <img class="circle responsive-img img-center hoverable" src="img/Gabrielle.png" alt="">
            <h4>Jonathan Phoon</h4>
            <h6><a href="#">View DevHub Profile</a></h6>
        </div>
    </div>
