<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1>Hello</h1>
    <div class ="container">
        <% include ./partials/users %>
    </div>

  </body>
</html>
