<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<br>
<br>
  <div class="container">

    <div class="row">
        <div class="center-align">
            <h4><b>Awesome! </b>You'll now be taken to Github to authenticate this app, in order to edit your profile</h4>
        </div>
    </div>


    <div class="row center-align">
        <div class="col s12 m6 l6">
            <img src="img/login_authorize.png"/>
            <img src="" />
        </div>
        <div class="col s12 m6 l6">
            <h4>What you'll see next:</h4>
            <h5>
                <ol>
                    <li>Login to Github (if not already so)</li>
                    <li>Authorize our app</li>
                    <li>Start editing your profile!</li>
                </ol>
            </h5>
        </div>
    </div>
    <div id="div-login-button"class="row center-align">
       <a id="login-button" class="btn-large teal accent-4 valign" href="/auth/github"><i class="devicon-github-plain">  </i>Login with Github</a>
    </div>
    <br>
</div>

<script type="text/javascript">

    $(document).ready(function(){
    $("#login-button").click(function(){
        $("#div-login-button").append($("<div>").addClass("progress").append($("<div>").addClass("indeterminate")))
    });
});
</script>
